# indeed_data_cleaning.py

---

## This will clean the data that was scraped from Indeed.  Turn location string into usable locations to feed into Geoapify, and tagging each job as In_person, Hybrid, or Remote.

In [91]:
# Dependencies and Setup
import pandas as pd
import time

# Check if an uncleaned file exists
try:
    # Import uncleaned scraped data
    file_path_new = "../data/listings_new.csv"
    listings_scraped_df = pd.read_csv(file_path_new)

    # Drops the column that contains the .csv row number
    listings_scraped_df.drop(columns=listings_archive_df.columns[0], axis=1, inplace=True)

    # Count the total listings
    listings_count = listings_scraped_df['id'].count()
    print(listings_count)

    # Check that data seems to have loaded correctly
    listings_scraped_df.head()
    
except:
    print("Something went wrong with loading the uncleaned file")
    quit()

114

,id,title,company,location,job_type,salary,time_recorded,url
0,8fa76a75a2adabe3,Lead Data Scientist,Target,"Remote in Minneapolis, MN 55403",NaN,"$124,100 - $223,400 a year",7/10/2023 15:09,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1,fc81cdfe57348569,Data Scientist,Argo Data,"Richardson, TX 75081",Full-time,"$80,696 - $150,547 a year",7/10/2023 15:09,https://www.indeed.com/company/Argo-Data/jobs/...
2,4ce85b280bb2c908,Senior Data Scientist,Artera,"Remote in Los Angeles, CA",NaN,Estimated $128K - $162K a year,7/10/2023 15:09,https://www.indeed.com/rc/clk?jk=4ce85b280bb2c...
3,969e54404d4ecc45,Data Scientist,Technocore360,"Orlando, FL 32801 \n(Central Business District...",Contract,$80 an hour,7/10/2023 15:09,https://www.indeed.com/company/Technocore360/j...
4,3510d68ef1c6f67a,Data Scientist,Intellipro Group Inc,"Clark, NJ 07066",Full-time\n+1,$24 an hour,7/10/2023 15:09,https://www.indeed.com/company/Intellipro-Tech...

In [92]:
# Create a series of this column for later use
locations = listings_scraped_df['location']

In [93]:
# Create a DataFrame which contains only in_person jobs
listings_office_df = listings_scraped_df.loc[~locations.str.startswith('Remote') & ~locations.str.startswith('Hybrid remote')].copy()

# Create a column indicating these are not in_person jobs
listings_office_df['office'] = 1

# Create a column indicating these are not hybrid jobs
#listings_office_df['hybrid'] = 0

# Create a column indicating these are remote jobs
#listings_office_df['remote'] = 0

# Count the results for in_person listings
office_count = listings_office_df['id'].count()
print(office_count)

listings_office_df.head()

83

,id,title,company,location,job_type,salary,time_recorded,url,office
1,fc81cdfe57348569,Data Scientist,Argo Data,"Richardson, TX 75081",Full-time,"$80,696 - $150,547 a year",7/10/2023 15:09,https://www.indeed.com/company/Argo-Data/jobs/...,1
3,969e54404d4ecc45,Data Scientist,Technocore360,"Orlando, FL 32801 \n(Central Business District...",Contract,$80 an hour,7/10/2023 15:09,https://www.indeed.com/company/Technocore360/j...,1
4,3510d68ef1c6f67a,Data Scientist,Intellipro Group Inc,"Clark, NJ 07066",Full-time\n+1,$24 an hour,7/10/2023 15:09,https://www.indeed.com/company/Intellipro-Tech...,1
6,38eb06c87fd0b6a9,Senior Data Analyst,Edge Building Solutions,"Alpharetta, GA 30005",Full-time,"From $105,000 a year",7/10/2023 15:10,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,1
8,08ac6c0c01a7c56a,Sr. Data Analyst,BioCare,"Tempe, AZ",Full-time,"$100,000 - $130,000 a year",7/10/2023 15:10,https://www.indeed.com/company/BioCare/jobs/Se...,1

In [94]:
# Create a DataFrame which contains only Hybrid Remote jobs
listings_hybrid_df = listings_scraped_df.loc[locations.str.startswith('Hybrid remote')].copy()

# Create a column indicating these are not in_person jobs
listings_hybrid_df['office'] = 2

# Create a column indicating these are not hybrid jobs
#listings_hybrid_df['hybrid'] = 1

# Create a column indicating these are remote jobs
#listings_hybrid_df['remote'] = 0

# Remove extra text from location to leave only the city, state (zip)
listings_hybrid_df['location'] = listings_hybrid_df['location'].str.strip('Hybrid remote in ')

# Count the results for hybrid listings
hybrid_count = listings_hybrid_df['id'].count()
print(hybrid_count)

listings_hybrid_df.head()

10

,id,title,company,location,job_type,salary,time_recorded,url,office
5,d4ef5d5c544c24e4,Senior Data Scientist - US Businesses,Prudential,"Newark, NJ 07102",NaN,"$94,700 - $156,300 a year",7/10/2023 15:10,https://www.indeed.com/rc/clk?jk=d4ef5d5c544c2...,2
11,541733077425ed57,AI Prompt Engineer,Exclusive Organic Solutions,"Weston, FL 33326",Full-time\n+1,"$65,000 - $85,000 a year",7/10/2023 15:10,https://www.indeed.com/company/Exclusive-Organ...,2
14,8d484aa5532bea2f,Decision Scientist,Electronic Arts,"Austin, TX 78729",Full-time,"$99,900 - $168,400 a year",7/10/2023 15:10,https://www.indeed.com/rc/clk?jk=8d484aa5532be...,2
17,e18e472ec10654fd,"Data Scientist, Mid",Booz Allen Hamilton,"Washington, DC",Full-time,"$73,100 - $166,000 a year",7/10/2023 15:10,https://www.indeed.com/rc/clk?jk=e18e472ec1065...,2
24,db1814cddfa7f757,BHJOB15656_20093 - Senior Data Scientist,Myticas Consulting,"Chicago, IL",NaN,Estimated $126K - $160K a year,7/10/2023 15:10,https://www.indeed.com/rc/clk?jk=db1814cddfa7f...,2

In [95]:
# Create a DataFrame which contains only Remote jobs
listings_remote_raw_df = listings_scraped_df.loc[locations.str.startswith('Remote')].copy()

# Create a column indicating these are not in_person jobs
listings_remote_raw_df['office'] = 3

# Create a column indicating these are not hybrid jobs
#listings_remote_raw_df['hybrid'] = 0

# Create a column indicating these are remote jobs
#listings_remote_raw_df['remote'] = 1

# Split this DataFrame into one that has a location for each job and one that does not

# Contains a location
listings_remote_loc_df = listings_remote_raw_df.loc[listings_remote_df['location'].str.startswith('Remote in ')].copy()
# Remove extra text from location to leave only the city, state (zip)
listings_remote_loc_df['location'] = listings_remote_loc_df['location'].str.strip('Remote in ')

# Does not have a location
listings_remote_only_df = listings_remote_raw_df.loc[~listings_remote_df['location'].str.startswith('Remote in ')].copy()

# Put the two DataFrames back together
listings_remote_df = pd.concat([listings_remote_loc_df, listings_remote_only_df])

# Count the results for remote listings
remote_count = listings_remote_df['id'].count()
print(remote_count)

listings_remote_df.head()

21

,id,title,company,location,job_type,salary,time_recorded,url,office
0,8fa76a75a2adabe3,Lead Data Scientist,Target,"Minneapolis, MN 55403",NaN,"$124,100 - $223,400 a year",7/10/2023 15:09,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,3
2,4ce85b280bb2c908,Senior Data Scientist,Artera,"Los Angeles, CA",NaN,Estimated $128K - $162K a year,7/10/2023 15:09,https://www.indeed.com/rc/clk?jk=4ce85b280bb2c...,3
7,1a1b8d48eed289e0,Data Scientist,Veeco,"San Jose, CA",NaN,"$78,780 - $111,188 a year",7/10/2023 15:10,https://www.indeed.com/rc/clk?jk=1a1b8d48eed28...,3
34,ec34f3e0a1dacdf3,ESG Jr. Data Management Consultant - Computer ...,"Montrose Environmental Group, Inc.",Texas,Full-time,$35 - $38 an hour,7/10/2023 15:11,https://www.indeed.com/rc/clk?jk=ec34f3e0a1dac...,3
38,8a5f9c58310ec9e9,Data Science Graduate Research Assistant,University of Maryland,"College Park, MD 20742",Full-time,Estimated $74.4K - $94.2K a year,7/10/2023 15:11,https://www.indeed.com/rc/clk?jk=8a5f9c58310ec...,3

In [96]:
# Check if any listings were lost or duplicated
if ((office_count + hybrid_count + remote_count) == listings_count):
    print(f"{listings_count} listings were successfully cleaned!")

elif ((office_count + hybrid_count + remote_count) > listings_count):
    print(f"Some listings may have been duplicated during cleaning.")
          
elif ((office_count + hybrid_count + remote_count) < listings_count):
    print(f"Some listings may have been lost during cleaning.")

114 listings were successfully cleaned!

In [101]:
# Put the three DataFrames back together
listings_temp_df = pd.concat([listings_office_df, listings_hybrid_df])

listings_cleaned_df = pd.concat([listings_temp_df, listings_remote_df])

# Reordering the columns
listings_cleaned_df = listings_cleaned_df[['id', 'title', 'company', 'location', 'office', 'job_type', 'salary', 'time_recorded', 'url']]

listings_cleaned_df

,id,title,company,location,office,job_type,salary,time_recorded,url
1,fc81cdfe57348569,Data Scientist,Argo Data,"Richardson, TX 75081",1,Full-time,"$80,696 - $150,547 a year",7/10/2023 15:09,https://www.indeed.com/company/Argo-Data/jobs/...
3,969e54404d4ecc45,Data Scientist,Technocore360,"Orlando, FL 32801 \n(Central Business District...",1,Contract,$80 an hour,7/10/2023 15:09,https://www.indeed.com/company/Technocore360/j...
4,3510d68ef1c6f67a,Data Scientist,Intellipro Group Inc,"Clark, NJ 07066",1,Full-time\n+1,$24 an hour,7/10/2023 15:09,https://www.indeed.com/company/Intellipro-Tech...
6,38eb06c87fd0b6a9,Senior Data Analyst,Edge Building Solutions,"Alpharetta, GA 30005",1,Full-time,"From $105,000 a year",7/10/2023 15:10,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
8,08ac6c0c01a7c56a,Sr. Data Analyst,BioCare,"Tempe, AZ",1,Full-time,"$100,000 - $130,000 a year",7/10/2023 15:10,https://www.indeed.com/company/BioCare/jobs/Se...
...,...,...,...,...,...,...,...,...,...
10,e1fc69199481f0a9,Data Scientist III,Prudent Technology,Remote,3,Full-time,"$125,000 - $150,000 a year",7/10/2023 15:10,https://www.indeed.com/rc/clk?jk=e1fc69199481f...
20,b44b777fa229e7c9,Sr. Data Analyst,Intone Networks,Remote,3,Contract,Estimated $103K - $130K a year,7/10/2023 15:10,https://www.indeed.com/rc/clk?jk=b44b777fa229e...
35,b64afa85d7547267,Pixel Machine Learning Engineer,Luxoft,Remote,3,NaN,Estimated $110K - $140K a year,7/10/2023 15:11,https://www.indeed.com/rc/clk?jk=b64afa85d7547...
37,57e35b1b10653bf7,Data Science Platform Engineer,"Iodine Software, LLC",Remote,3,Full-time,Estimated $123K - $156K a year,7/10/2023 15:11,https://www.indeed.com/rc/clk?jk=57e35b1b10653...
66,40b82f6303c05c52,Senior Statistical Analyst,EMC Insurance,Remote,3,Full-time,NaN,7/10/2023 15:12,https://www.indeed.com/rc/clk?jk=40b82f6303c05...

In [99]:
# Save the updated DataFrame as a .csv file
t = time.localtime()
current_time = time.strftime("%Y-%m-%d %H:%M:%S", t)
current_time_file = time.strftime("%Y-%m-%d-%H-%M-%S", t)

# Check if an archived file exists and concatenate to it if so
try:
    file_path_archive = '../data/listings_cleaned.csv'
    
    # Import cleaned archive data
    listings_archive_df = pd.read_csv(file_path_archive)

    # Drops the column that contains the .csv row number
    listings_archive_df.drop(columns=listings_archive_df.columns[0], axis=1, inplace=True)
    
    # Save the archived file as a backup
    listings_archive_df.to_csv(f"{file_path_archive}_{current_time_file}", index=False)
    
    # Concatenate new data onto the old
    listings_concat_df = pd.concat([listings_archive_df, listings_cleaned_df])
    
    # Overwrite the archive file with the newly updated one
    listings_concat_df.to_csv(file_path_archive, index=False)
    print(f"New cleaned results added to archive and saved to file {file_path_archive}")
    

except:
    file_path_write = '../data/listings_cleaned.csv'
    
    listings_cleaned_df.to_csv(file_path_write, index=False)
    print(f"New cleaned results saved to file {file_path_write}")

listings_cleaned_df.to_csv(f'../data/listings_cleaned.csv', index=False)
print(f"New cleaned results saved to file {file_path}\n{current_time_file}")

New cleaned results saved to file ../data/listings_new.csv
2023-07-10 20:14:44

# Load the archived file

# Open the .csv file which contains all the previously collected listings
t = time.localtime()
current_time = time.strftime("%Y-%m-%d %H:%M:%S", t)

try:
    file_path = "../data/listings_new.csv"

    listings_archive_df = pd.read_csv(file_path)

    # Drops the row number from the .csv file so it doesn't load as a new column
    listings_archive_df.drop(columns=listings_archive_df.columns[0], axis=1, inplace=True)
    listings_archive_df.head()


    # Append the new listings to the existing ones
    listings_all_df = pd.concat([listings_archive_df, listings_new_df])


    # Save the updated DataFrame as a .csv file
    listings_all_df.to_csv(f'../data/listings_all.csv')
    print(f"New results added and saved to file {file_path}\n{current_time}")
    
except:
    print("Something went wrong with loading and appending to the archived file.\nPossibly no previous file existed.\nNew results are being saved.")
    
    # Save the updated DataFrame as a .csv file
    listings_new_df.to_csv(f'../data/listings_all.csv')
    print(f"New results saved to file {file_path}"\n{current_time})